<html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AGRISERVE</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../static/images/favicon.png" />
   <script type="text/javascript"
      src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAzfJHU7mKkVKW9nTVPymNY-0emhlP-0DQ&v=3.21.5a&libraries=drawing&signed_in=true&libraries=places,drawing"></script>
    <style type="text/css">
#map {
  height: 75%;
  width: 75%;
  margin: auto;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
    </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">  
          <a class="navbar-brand brand-logo" href="../../index.html"><img src="../static/images/logo.png" alt="logo"/></a>
          AGRISERVE
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>  
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-4 w-100">
          <li class="nav-item nav-search d-none d-lg-block w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          
         
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/my_product">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="mdi mdi-circle-outline menu-icon"></i>
              <span class="menu-title">Farmer</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <a class="nav-link" href="/post">Send Post</a>
                 <a class="nav-link" href="/user_req">My Requests</a>
				 <a class="nav-link" href="/user_book">My orders</a>
               <a class="nav-link" href="/logout">Logout</a>
              </ul>
            </div>
          </li>
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card mx-auto">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Your product for sale </h4>
                  <p class="card-description">
                    
                  </p>
                  <form class="forms-sample" name="form1" method="post" enctype="multipart/form-data">
				  <div class="form-group">
                      <label for="exampleInputUsername1">Upload Image</label>
                      <input type="file" accept=".jpg, .png, .jpeg" class="form-control" name="image" id="exampleInputUsername1">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1">Product category</label>
                      <input type="text" class="form-control" name="product_type" id="exampleInputUsername1" placeholder="Enter category">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Product</label>
                      <input type="text" name="product" class="form-control" id="exampleInputEmail1" placeholder="Product">
                    </div>
					 <div class="form-group">
                      <label for="exampleInputEmail1">Quantity</label>
                      <input type="number" name="quantity" class="form-control" id="exampleInputEmail1" placeholder="Product">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Price</label>
                      <input type="text" name="price" class="form-control" placeholder="Price">
                    </div>
					<div class="form-group">
                      <label for="exampleInputPassword1">Message</label>
                      <textarea name="message" id="exampleInputPassword1" cols="30" rows="9" class="form-control" placeholder="Enter message"></textarea>
                    </div>
                    
                    
                    <button type="submit" class="btn btn-primary me-2">Post</button>
                   
                  </form>
                </div>
              </div>
            </div>
           <div class="col-md-6 grid-margin stretch-card mx-auto">
    <div class="card">
        <div class="card-body" style="max-height: 600px; overflow-y: auto;">
            <h4 class="card-title">Nearby Customers</h4>
            <p class="card-description"></p>
            {% for user in nearby_users %}
                    <li>
                        <strong>{{ user['user_details']['name'] }}</strong><br>
                        {% if user['user_details'] %}
                            <strong>Mobile:</strong> {{ user['user_details']['mobile'] }}<br>
                            <strong>Address:</strong> {{ user['user_details']['address'] }}<br>
                        {% else %}
                            <em>No additional details available</em><br>
                        {% endif %}
                        <hr>
                    </li>
                    {% endfor %}
        </div>
    </div>
</div>

             <div id="map" style="height: 800px; width: 800px;">
            
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
       
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  
  
    <!-- prettier-ignore -->
   <script type="text/javascript">
    var locations = [
        {% for user in nearby_users %}
            [{{ user.latitude }}, {{ user.longitude }}, 4],
        {% endfor %}
    ];

    var providerLocation = [
        [{{ provider_coords[0] }}, {{ provider_coords[1] }}, 4]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(10.790483, 78.704673),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
	
	 console.log('User Locations:', locations);

    // Print provider location to console
    console.log('Provider Location:', providerLocation);

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][0], locations[i][1]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }

    // Add marker for the logged-in provider
    for (i = 0; i < providerLocation.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(providerLocation[i][0], providerLocation[i][1]),
            map: map
        });

        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.setContent(providerLocation[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
</script>
	
	
  <script src="../static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../static/js/off-canvas.js"></script>
  <script src="../static/js/hoverable-collapse.js"></script>
  <script src="../static/js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../static/js/file-upload.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
